.App{
  background-image: url(./Img/6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.DateSlide{
  margin-top:-300px;
}
.input-Wrapper{
  display: flex;
  width: 300px;
}
.Logo{
  width: 20px;
  height: 20px;
  margin-top: 10px; 
}
.todoAdd{
  margin-left: 10px;
  width: 100%;
  height: 30px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 20px;
}
.todo> p{
  color:black;
  font-size: 15px;
  font-weight: 1000;
}
.done > p{
  color:black;
  font-size: 15px;
  font-weight: 1000;
}
